---
import Author from './Author.astro';
import BlogContent from './BlogContent.astro';
import './tag-list';

export interface Props {
	title: string;
	author: string;
	publishDate: string;
	image: string;
	alt: string;
}

const { title, author, publishDate, image, alt, tags, readingTime } = Astro.props;
---

<div class="layout">
	<article class="content">
		<div>
			<header>
				{image && <img width="720" height="420" class="hero-image" loading="lazy" src={image} alt={alt} />}
				<p class="publish-date">{publishDate} ~ {readingTime}</p>
				<h1 class="title">{title}</h1>
				<Author name="@rodydavis" href="https://twitter.com/rodydavis" />
				 <tag-list tags={tags}> </tag-list>
			</header>
			<main>
				<BlogContent> <slot></slot></BlogContent>
			</main>
		</div>
	</article>
</div>

<style>
	.hero-image {
		width: 100%;
		height: 350px;
		object-fit: cover;
		object-position: top;
		margin-top: 1rem;
		margin-bottom: 2rem;
		max-width: 1280px;
		border-radius: 20px;
		border: 1px solid var(--md-sys-color-outline);
	}

	.layout {
		max-width: 960px;
		margin: auto;
	}

	header {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;

		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
	}

	.publish-date,
	.author {
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
	}

	img {
		width: 100%;
	}
</style>
